@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--container-size: 500px;
	--circle-size: calc(var(--container-size) / 14);
	--item-size: calc(var(--container-size) / 3);
	--primary-color: #e17b77;
	--secondary-color: #fff;
}

.timeline-container {
	display: flex;
	position: relative;
	height: var(--container-size);
	width: 100%;
	overflow: auto;
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	-ms-overflow-style: none;
  scrollbar-width: none;
	cursor: grab;
}

.timeline-container::-webkit-scrollbar {
  display: none;
}

.timeline-container::after {
	background-color: var(--primary-color);
	content: '';
	position: absolute;
	bottom: calc(50% - 2px);
	width: 100%;
	height: 4px;
}

.timeline-item {
	display: flex;
	align-self: flex-start;
	position: relative;
	color: var(--secondary-color);
	text-align: center;
}

.timeline-item-content {
	width: var(--item-size);
	height: var(--item-size);
}

.timeline-item.below {
	align-self: flex-end;
	padding-right: 0;
}

.restoration-item {
	border-radius: 20px;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	/* position: relative; */
	height: 100%;
}

.timeline-item-connector::after {
	content: '';
	background-color: var(--primary-color);
	position: absolute;
	right: 50%;
	top: 100%;
	width: 4px;
	height: 50%;
}

.timeline-item.below .timeline-item-connector::after {
	top: auto;
	bottom: 100%;
}

.restoration-item p {
	font-size: 16px;
	line-height: 24px;
	margin: 15px 0;
	max-width: 250px;
}

.timeline-item .circle {
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	border-radius: 50%;
	position: absolute;
	right: calc(50% - (var(--circle-size) / 2) + 2px);
	bottom: calc(-1 * var(--circle-size) / 2 - (var(--container-size) / 2 - var(--item-size)));
	width: var(--circle-size);
	height: var(--circle-size);
	z-index: 100;
}

.timeline-item .circle.small {
	right: calc(50% - (var(--circle-size) / 4) + 2px);
	bottom: calc(-1 * var(--circle-size) / 4 - (var(--container-size) / 2 - var(--item-size)));
	width: var(--circle-size) / 2;
	height: var(--circle-size) / 2;
}

.timeline-item .circle > * {
	width: 100%;
}

.timeline-item.below .circle {
	bottom: auto;
	top: calc(-1 * var(--circle-size) / 2 - (var(--container-size) / 2 - var(--item-size)));;
}

.timeline-item.below .circle.small {
	top: calc(-1 * var(--circle-size) / 4 - (var(--container-size) / 2 - var(--item-size)));;
}